.main_prodetail{
    margin-left: 22rem;
    margin-top: 3rem;
    height: 40rem;
    width: 90rem;
    border: 3px solid rgb(12, 12, 12);
    background: rgb(211, 202, 202);
}
.pro_head{
    margin-left: 22rem;
    font-size: 3rem;
}
P{
    font-size: 2rem;
    margin-left: 2rem;
}
.pro_headS{
    font-size: 2.5rem;
    margin-left: 1rem;
}
li{
    font-size: 1.5rem;
    margin-left: 2.5rem;
}